tr.a{
    background-color: deeppink;
    color:blue;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.b{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.c{
    background-color: cadetblue;
    color:crimson;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.d{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.e{
    background-color: cadetblue;
    color:crimson;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.f{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.g{
    background-color: cadetblue;
    color:crimson;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.h{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.i{
    background-color: cadetblue;
    color:crimson;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.j{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.k{
    background-color: cadetblue;
    color:crimson;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}
tr.l{
    background-color: lightpink;
    color:forestgreen;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
}